<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundigo.mapper.BoardMapper">
	
	
	<select id="getFAQList" resultType="com.fundigo.domain.BoardVO">
		<![CDATA[
		select * from board where bd_type = 'FAQ' and bno > 0
		]]>
	</select>
	
	<select id="getCOMMList" resultType="com.fundigo.domain.BoardVO">
		<![CDATA[
		select * from board where bd_type = 'COMM' and bno > 0
		]]>
	</select>
	
	<select id="getNOTIList" resultType="com.fundigo.domain.BoardVO">
		<![CDATA[
		select * from board where bd_type = 'NOTI' and bno > 0
		]]>
	</select>
	

	<insert id="FAQinsert">
		INSERT INTO BOARD(BD_TYPE, BNO, TITLE, CONTENT, ID) 
		VALUES('FAQ', SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{id})
	</insert>
	<insert id="COMMinsert">
		INSERT INTO BOARD(BD_TYPE, BNO, TITLE, CONTENT, ID, PNO) 
		VALUES('COMM', SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{id}, #{pno})
	</insert>
	<insert id="NOTIinsert">
		INSERT INTO BOARD(BD_TYPE, BNO, TITLE, CONTENT, ID, PNO) 
		VALUES('NOTI', SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{id}, #{pno})
	</insert>
	
	
	<insert id="FAQinsertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select SEQ_BOARD.nextval from dual
		</selectKey>
			insert into BOARD(BD_TYPE, BNO, TITLE, CONTENT, ID)
			values ('FAQ',#{bno},#{title},#{content},#{id})
	</insert>
	<insert id="COMMinsertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select SEQ_BOARD.nextval from dual
		</selectKey>
			insert into BOARD(BD_TYPE, BNO, TITLE, CONTENT, ID, PNO)
			values ('COMM', #{bno}, #{title}, #{content}, #{id}, #{pno})
	</insert>
	<insert id="NOTIinsertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select SEQ_BOARD.nextval from dual
		</selectKey>
			insert into BOARD(BD_TYPE, BNO, TITLE, CONTENT, ID, PNO)
			values ('NOTI', #{bno}, #{title}, #{content}, #{id}, #{pno})
	</insert>

	<select id="selectOne" resultType="com.fundigo.domain.BoardVO">
		SELECT * FROM BOARD WHERE BNO = #{bno}
	</select>

	<delete id="delete">
	<![CDATA[
		DELETE FROM BOARD WHERE BNO=#{bno}]]>
	</delete>
	

	<update id="update">
	<![CDATA[
		UPDATE BOARD SET TITLE=#{title}, CONTENT=#{content} WHERE BNO=#{bno} ]]>
	</update>
	
	<update id="countup">
		UPDATE BOARD SET READCOUNT = READCOUNT+1 WHERE BNO=#{bno}
	</update>
	<update id="updateDate">
		UPDATE BOARD SET updatedate = TO_DATE(#{updateDate}, 'yy/mm/dd') WHERE BNO = #{bno}
	</update>
</mapper>