<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.mappers.loginMapper">

	<insert id="cinsert">
	INSERT INTO CLIENT(id,name,password,address,phone,nickname,tag1,tag2,tag3,tag4) 
	values(#{id},#{name},#{password},#{address},#{phone},#{nickname},#{tag1},#{tag2},#{tag3},#{tag4});
	</insert>
	
	<select id="cselect">
	SELECT id,name,address,phone FROM CLIENT;
	</select>
	
	<update id="cupdate">
	
	</update>
	
	
</mapper>

<!--  <mapper namespace = "org.zerock.mapper.BoardMapper">

<select id = "getList" resultType = "org.zerock.domain.BoardVO">
<![CDATA[
select * from tbl_board where bno > 0
]]>
</select>

<insert id = "insert">
insert into tbl_board (bno, title, content, writer)
values (seq_board.nextval,#{title}, #{content},#{writer})
</insert>

<insert id = "insertSelectKey">
<selectKey keyProperty = "bno" order = "BEFORE" resultType = "long">
select seq_board.nextval from dual
</selectKey>
insert into tbl_board(bno, title, content, writer)
values (#{bno}, #{title}, #{content}, #{writer})

</insert>

<select id = "read" resultType = "org.zerock.domain.BoardVO">
select * from tbl_board where bno = #{bno}
</select>

<delete id ="delete">
delete from tbl_board where bno = #{bno}
</delete>

<update id = "update">
update tbl_board
set title = #{title},
content = #{content},
writer = #{writer},
updateDate = sysdate
where bno = #{bno}
</update>
</mapper> -->

<!-- <mapper namespace="arsyu.mapper.boardmapper">
	
	binsert
	<insert id="binsert">
		INSERT INTO BOARD(BNO, BTITLE, BCONTENT, MEMBER_MID) 
		VALUE((SELECT IFNULL(MAX(BNO), 0)+1 FROM BOARD AS BNO), #{btitle}, #{bcontent}, #{member_mid})
	</insert>
	
	bdelete
	<delete id="bdelete">
		DELETE FROM BOARD WHERE BNO=#{bno}
	</delete>
	
	bupdate
	<update id="bupdate">
		UPDATE BOARD SET BTITLE=#{btitle}, BCONTENT=#{bcontent} WHERE BNO=#{bno} 
	</update>
	
	bnotice
	<update id="bnotice">
		UPDATE BOARD SET BCATE = 'c' WHERE BNO=#{bno}
	</update>
	
	brecomup
	<update id="brecomup">
		UPDATE BOARD SET BRECOM=BRECOM+1 WHERE BNO=#{bno}
	</update>
	
	bpopchange
	<update id="bpopchange">
		UPDATE BOARD SET BCATE = 'b' WHERE BNO=#{bno}
	</update>
	
	rinsert
	<insert id="rinsert">
		INSERT INTO REPLY(RNO, RCONTENT, BOARD_BNO, MEMBER_MID) 
		VALUE((SELECT IFNULL(MAX(RNO), 0)+1 FROM REPLY AS RNO), #{rcontent}, #{board_bno}, #{member_mid})
	</insert>
	
	rdelete
	<delete id="rdelete">
		DELETE FROM REPLY WHERE RNO=#{rno}
	</delete>
	
	bdetail
	<select id="boardDetail" resultType="vo.BoardVO">
		SELECT B.*, M.MNAME FROM BOARD AS B, MEMBER AS M 
		WHERE B.MEMBER_MID=M.MID AND BNO=#{bno}
	</select>
	
	replylist
	<select id="replylist" resultType="vo.ReplyVO">
		SELECT R.*, M.MNAME
		FROM MEMBER AS M, BOARD AS B, REPLY AS R
		WHERE R.BOARD_BNO=B.BNO AND R.MEMBER_MID=M.MID AND R.BOARD_BNO=#{board_bno}
		ORDER BY R.RREGDATE ASC LIMIT #{sno}, #{perPageNum}
	</select>
	
	boardAll
	<select id="boardAll" resultType="vo.BoardVO">
		SELECT B.*
		FROM (SELECT B.*, M.MNAME, (SELECT COUNT(*) FROM REPLY AS R GROUP BY R.BOARD_BNO HAVING R.BOARD_BNO=B.BNO) AS RCNT
		FROM BOARD AS B, MEMBER AS M 
		WHERE B.MEMBER_MID=M.MID
		<include refid="search"></include>
		AS B ORDER BY B.BNO DESC LIMIT #{sno}, #{perPageNum}
	</select>
	
	boardPopularity
	<select id="boardPopularity" resultType="vo.BoardVO">
		SELECT B.*
		FROM (SELECT B.*, M.MNAME, (SELECT COUNT(*) FROM REPLY AS R GROUP BY R.BOARD_BNO HAVING R.BOARD_BNO=B.BNO) AS RCNT
		FROM BOARD AS B, MEMBER AS M 
		WHERE B.MEMBER_MID=M.MID AND B.BCATE='b' AND B.BRECOM>4 
		<include refid="search"></include>
		AS B ORDER BY B.BNO DESC LIMIT #{sno}, #{perPageNum}
	</select>
	
	boardNotice
	<select id="boardNotice" resultType="vo.BoardVO">
		SELECT B.*
		FROM (SELECT B.*, M.MNAME, (SELECT COUNT(*) FROM REPLY AS R GROUP BY R.BOARD_BNO HAVING R.BOARD_BNO=B.BNO) AS RCNT
		FROM BOARD AS B, MEMBER AS M 
		WHERE B.MEMBER_MID=M.MID AND B.BCATE='c' 
		<include refid="search"></include>
		AS B ORDER BY B.BNO DESC LIMIT #{sno}, #{perPageNum}
	</select>
	
	search
	<sql id="search">
		<choose>
			<when test="searchType=='t'.toString()">
				AND BTITLE LIKE CONCAT('%', #{keyword}, '%'))
			</when>
			<when test="searchType=='c'.toString()">
				AND BCONTENT LIKE CONCAT('%', #{keyword}, '%'))
			</when>
			<when test="searchType=='tc'.toString()">
				AND (BTITLE LIKE CONCAT('%', #{keyword}, '%')
				OR BCONTENT LIKE CONCAT('%', #{keyword}, '%')))
			</when>
			<otherwise>)</otherwise>
		</choose>
	</sql>
	
	boardAllCriCount
	<select id="boardAllCriCount" resultType="int">
		(SELECT COUNT(*) 
		FROM BOARD AS B, MEMBER AS M 
		WHERE B.MEMBER_MID=M.MID
		<include refid="search"></include>
	</select>
	
	boardPopularityCriCount
	<select id="boardPopularityCriCount" resultType="int">
		(SELECT COUNT(*) 
		FROM BOARD AS B, MEMBER AS M 
		WHERE B.MEMBER_MID=M.MID AND B.BCATE='b' AND B.BRECOM>4
		<include refid="search"></include>
	</select>
	
	boardNoticeCriCount
	<select id="boardNoticeCriCount" resultType="int">
		(SELECT COUNT(*) 
		FROM BOARD AS B, MEMBER AS M 
		WHERE B.MEMBER_MID=M.MID AND B.BCATE='c'
		<include refid="search"></include>
	</select>
	
	replyCriCount
	<select id="replyCriCount" resultType="int">
		(SELECT COUNT(*)
		FROM MEMBER AS M, BOARD AS B, REPLY AS R
		WHERE R.BOARD_BNO=B.BNO AND R.MEMBER_MID=M.MID AND R.BOARD_BNO=#{board_bno}
		<include refid="search"></include>
	</select>
	
	searchLimit
	<select id="searchLimit" resultType="vo.BoardVO">
		SELECT * FROM RECOMLIMIT WHERE MEMBER_MID=#{member_mid} AND BOARD_BNO=#{bno}
	</select>
	
	insertLimit
	<insert id="insertLimit">
		INSERT INTO RECOMLIMIT(MEMBER_MID, BOARD_BNO) VALUE(#{member_mid},#{bno})
	</insert>
	
	countup
	<update id="countup">
		UPDATE BOARD SET BCNT=BCNT+1 WHERE BNO=#{bno}
	</update>
</mapper>
 -->
